<div class="carousel relative container mx-auto" style="max-width:1600px;">
  <div class="carousel-inner relative overflow-hidden w-full">
    <ng-container *ngFor="let imageUrl of imageUrls; let i = index">
      <input class="carousel-open" type="radio" [id]="'carousel-' + (i + 1)" name="carousel" aria-hidden="true" hidden="" [checked]="i === 0">
      <div class="carousel-item absolute opacity-0" style="height:60vh;">
        <div class="block h-full w-full mx-auto pt-6 md:pt-0 md:items-center">
          <img ngSrc="{{imageUrl}}" class="w-full h-full object-cover object-right" alt="Slide Image" width="200" height="200">
          <!-- Resto del contenido del slide -->
        </div>
      </div>
      <button class="prev control-{{i + 1}} w-10 h-10 ml-2 md:ml-10 absolute cursor-pointer hidden text-3xl font-bold text-black hover:text-white rounded-full bg-white hover:bg-gray-900 leading-tight text-center z-10 inset-y-0 left-0 my-auto" (click)="navigateCarousel(i, 'prev')">‹</button>
      <button class="next control-{{i + 1}} w-10 h-10 mr-2 md:mr-10 absolute cursor-pointer hidden text-3xl font-bold text-black hover:text-white rounded-full bg-white hover:bg-gray-900 leading-tight text-center z-10 inset-y-0 right-0 my-auto" (click)="navigateCarousel(i, 'next')">›</button>
    </ng-container>

    <!-- Add additional indicators for each slide-->
    <ol class="carousel-indicators">
      <li class="inline-block mr-3" *ngFor="let img of imageUrls; let i = index">
        <button class="carousel-bullet cursor-pointer block text-4xl text-gray-400 hover:text-gray-900" (click)="navigateCarousel(i)">*</button>
      </li>
    </ol>
  </div>
</div>
